<ion-menu contentId="content">
    <!-- cabecalho do menu -->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- fim cabecalho do menu-->
  
    <!-- montagem do menu da aplicacao -->
    <ion-content  class="card-background-page">
      <!-- imagem lateral menu -->
      <ion-card>
        <img src="../../../assets/imgs/doe.jpg"/>
        <div class="card-title">Doe +</div>
        <div class="card-subtitle">Atendimento</div>
      </ion-card>
      <ion-list>
        <ion-menu-toggle>
            <ion-item routerLink="/app/menu/profile" routerDirection="root">
              <ion-label>Meu Perfil</ion-label>
            </ion-item>
            <ion-item routerLink="/app/menu/news" routerDirection="root">
              <ion-label>Minhas Doações</ion-label>
            </ion-item>
            <ion-item routerLink="/app/menu/news" routerDirection="root">
                <ion-label>Doar</ion-label>
            </ion-item>
            <ion-item routerLink="/app/menu/news" routerDirection="root">
              <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <!--<ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="enableDark()">Dark</ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button expand="block" (click)="enableLight()">Light</ion-button>
          </ion-col>
      </ion-row>-->
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="content" main></ion-router-outlet>