<ion-slides>
  <ion-slide class="slide-1">
    <div class="bottom-box">
      <h1>Faça uma boa ação</h1>
      <p>Encontre uma entidade carente próximo de você</p>
      <ion-button (click)="next()">What else</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-2">
    <div class="bottom-box">
      <h1>Responsabilidade</h1>
      <p>Acompanha sua boa ação</p>
      <ion-button (click)="next()">What else</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-3">
    <div class="bottom-box">
      <h1>Ajude</h1>
      <p>Pratique o bem</p>
      <ion-button (click)="finish()">What else</ion-button>
    </div>
  </ion-slide>

</ion-slides>