<!-- pagina de abas -->
<ion-tabs>
  <!-- icones do fontesawesome-->
  <!-- fixa a aba no rodapé-->
  <ion-tab-bar slot="bottom">
    <!-- acompanhamento -->
    <ion-tab-button tab="home">
      <ion-icon name="git-network"></ion-icon>
      <ion-label>Acompanhamento</ion-label>
    </ion-tab-button>
    <!-- ongs-->
    <ion-tab-button tab="menu/news">
      <ion-icon name="paper"></ion-icon>
      <ion-label>ONG's</ion-label>
    </ion-tab-button>
    <!-- perfil -->
    <ion-tab-button tab="menu">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>